<template>
  <button @click="inc">Add 1</button>
  <button @click="increase({ value: 11 })">Add 11</button>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  methods: {
    /* dddOne() {
      this.$store.dispatch('increment');
    } */
    /* ...mapActions(['increment', 'increase']) - we commented this out becauase below we'll demonstrate
    how you can call Actions and add them your own names, instead of using ones defined in main.js*/
    ...mapActions('numbers', {
      inc: 'increment', //when using mapActions/mapGetters it also works if you add "numbers/"" in front of increment, but that way if you change the namespace alias, you have to go and change on every getter/action. Like this you just modify the first argument of that getter
      increase: 'increase' //when using mapActions/mapGetters it also works if you add "numbers/"" in front of increase, but that way if you change the namespace alias, you have to go and change on every getter/action. Like this you just modify the first argument of that getter
      //this way you can give the methods that are automatically created with mapActions in any name you want, based on the actions you have defined in main.js.
    })
  }
};
</script>
