<template>
  <h3>{{ result }}</h3>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    /* counter() {
      return this.$store.getters.finalCounter;
    } */
    //...mapGetters(['finalCounter']) //mapGetters gives you object of computed properties. The three dot spreader ()...) is called spreader because it spreads the object (no idea what that means).
    // the above works too, but it's commented out because below I will demonstrate a way of calling Getters where you can name them yourself, in case you don't want the names defined in main.js.
    ...mapGetters('numbers', {
      result: 'finalCounter'
    }) // all you have to do is instead of sending array, send an object and define alias as key in the object, with the actual getter name as value.
  }
};
</script>
