<template>
  <base-container title="Auth">
    <user-auth></user-auth>
  </base-container>
  <base-container title="Vuex" v-if="isAuth">
    <favorite-value></favorite-value>
    <the-counter></the-counter>
    <change-counter></change-counter>
    <button @click="addOne">Add 10</button>
  </base-container>
</template>

<script>
import FavoriteValue from './components/FavoriteValue.vue';
import TheCounter from './components/TheCounter.vue';
import BaseContainer from './components/BaseContainer.vue';
import ChangeCounter from './components/ChangeCounter.vue';
import UserAuth from './components/UserAuth';

export default {
  components: {
    TheCounter,
    BaseContainer,
    ChangeCounter,
    FavoriteValue,
    UserAuth
  },
  computed: {
    isAuth() {
      return this.$store.getters.isAuth;
    }
  },
  methods: {
    addOne() {
      //  this.$store.commit('increase', { value: 10 });
      /* this.$store.commit({
        type: 'increase',
        value: 10,
      }); */
      /* This one is commented out because instead of commit we wanna use dispatch.
      So instead of running a mutation directly, it's actually reommended to make action for that
      mutation, so you don't accidentally run async code in a mutation, because it is VERY bad practice, and it errorous.
      Aync code in mutaiton won't work, because if mutation is run by couple processes, and it can't give the last state immidiately (which happens with async codes that run with a delay)
      it will throw bunch of errors. 
      For the async code like ones with setTimeout and stuff, we make actions, and we call the actions
      if we wanna introduce a delay, or change the state based on some async action or whatever.*/
      this.$store.dispatch({
        type: 'numbers/increase',
        value: 10
      });
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
</style>
